<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 MyBatis에서 처리할 SQL문을 작성하는 문서입니다. -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	<mapper>태그의 namespace 속성값은 이 문서에 작성된 SQL문을 호출할 때
	같이 사용되는 이름이다.
 -->
 
<mapper namespace="book">
	<select id="findByNo" resultType="BookVO" parameterType="int">
		select * from book where b_no = #{b_no}
	</select>  
	
	<!-- 책디테일에서 책저장 -->
	<insert id="insertBook" parameterType="BookVO">
		insert into book
		values(#{b_no},#{b_title},#{b_publisher},#{b_writer},#{b_year},#{b_price},#{b_image},#{b_detail},#{b_index},#{b_count},#{c_no})
	</insert>
	
	<!-- 대여시 대여 넘버 삽입 -->
	<select id="getNextBno" resultType="int">
		select nvl(max(b_no),0)+1 from book
	</select>	 

</mapper>